/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

table, th, td
{
    border: 2px solid black;
    border-collapse: collapse;
}

th, td
{
    padding:5px;
    text-align: left;
}

table.table-style tr:nth-child(even)
{
    background-color: #eee;
}

table.table-style tr:nth-child(odd)
{
    background-color: #fff;
}

select
{
    padding:5px;
    margin: 5px;
}
